*{
    margin:0 ;
    font-family: 'Open Sans', sans-serif;
}
/*header and navigation styles*/
.header{ 
    background: #faf1f1;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
.text-primary{
    color: #FD6E0A;
 }
 .btn-primary{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
font-size: 20px;
border: 0;
padding: 18px 35px;
 }
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display:  flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 15px;
}
nav ul{
    display: flex;
    align-items: center;
}
/*banner styles*/
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-sub-title{
    font-weight: 600;
font-size: 45px;
}
.banner-title{
    font-weight: 700;
font-size: 85px;
margin-bottom: 28px;
}
.banner-description{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
margin-bottom: 30px;}
/*main section*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
/*about section styles*/
.about{ margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
}
.section-title{
    margin-bottom: 27px;
}
.section-description{font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 33px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: #757575;
    font-weight: 400;
font-size: 20px;
line-height: 30px;
}
.info-description{
    color: #474747;
    font-weight: 700;
font-size: 20px;
}
/*what i do styles*/
.what-i-do{
    margin-top: 130px;
}
.section-title{
    font-weight: 700;
font-size: 35px;
text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700;
font-size: 20px;
margin-top: 30px;
margin-bottom: 23px;
}
.skill-description{
    color: #757575;
    font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.skill{
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;
}
.section-title{
    margin-bottom: 172px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-top: 130px;  
}
/*resume styles*/
     
 .resume-content{
    display: flex;
    gap: 24px;
 }
 .resume.title{
    font-weight: 700px;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

 }
 .resume.sub-title{
          color:#757575;
          font-weight: 600px;
          font-size: 20px;
          margin-bottom: 20px;
        
 }
 .resume.description{
         color: #757575;
 }
 .resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .resume-btn{
    margin-top: 20px;
    text-align: justify center;
    margin-bottom: 81px;
 }
 /*contact styles*/
         .contact{
    display: flex;
    background: #FFF8F3;
    padding: 230px 200px;
    gap: 100px;
 }
    .contact-title{
    text-align: left;
    font-weight: 700px;
font-size: 35px;
 }
 .contact input[type="text"],input[type="email"] ,textarea{
    margin-top: 24px;
     width: 100%;
     padding:18px 30px;
     border: none !important;
 }
input{
    
height: 64px;
}
.contact a{
    text-decoration: none !important;
}







































